/logs
/node_modules
/config_backups
/chats
/configs
/public/uploads/
/public/emojis/
/public/.idea/
/public/emojis/
/plugins
/discover/node_modules/
/discover/config.json
/cache
/backups
/public/img/default_emojis/
privatekey.json

.idea
.package-lock.json
/dcts/
/Private_Certs/

/config.env
/livekit.yaml
public/css/themes/your-name/background.gif
public/css/themes/your-name/config.json
public/css/themes/your-name/thumbnail.png
public/css/themes/your-name/your-name.css
